<!-- menu section -->
<section class="ftco-section" id="section-menu">

  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h4 class="ftco-sub-title">Menu</h4>
        <h2 class="display-4">Special Offers</h2>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel ftco-owl">

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu02.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu03.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu04.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu05.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu06.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu07.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu08.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu09.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu10.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu11.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu12.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu13.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu14.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu15.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/new-menu16.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- END menu section -->

