<!-- menu section -->
<section class="ftco-section" id="section-menu">

  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h4 class="ftco-sub-title">Menu</h4>
        <h2 class="display-4">Special Offers</h2>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel ftco-owl">

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-01.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-02.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-03.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-04.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-05.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-06.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-07.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-08.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-09.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-11.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/menu-12.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h2 class="display-4">SESSION</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">
              Monday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Tuesday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Wednesday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Thursday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Friday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Saturday 11:00am – 3pm & 5pm - 10pm
            </p>
            <p class="lead">
              Sunday 11:00am – 3pm & 5pm - 10pm
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <div class="tab-content text-left">
          <div class="tab-pane fade show active" id="pills-price" role="tabpanel" aria-labelledby="pills-price-tab">
            <div class="row">

              <div class="col-md-6 ftco-animate">
                <div class="media menu-item">
                  <img class="mr-3" src="../../../assets/images/lunch.jpg" class="img-fluid">
                  <div class="media-body ml-3">
                    <h3 class="mt-0">Lunch Seafood Time</h3>

                    <p class="font-weight-bold">11:00am – 3pm</p>


                    <!--p class="font-weight-bold">Monday to Thursday 11:30 am - 3:00 pm</p>

                    <p class="font-weight-bold">Friday to Sunday 11:30 am - 1:00 pm | 1:30 - 3:00 pm</p>

                    <p class="text-primary menu-price">$36 Monday to Friday</p>
                    <p class="text-primary menu-price">$39.50 Saturday to Sunday</p>
                    <p class="font-italic">Children under 4 YO Free</p>
                    <p class="font-italic">Children from 4 to 8 $18 /per child</p>
                    <p class="font-italic">Children from 9 to 12 $21.5 /per child</p-->
                  </div>
                </div>
              </div>

              <div class="col-md-6 ftco-animate">
                <div class="media menu-item">
                  <img class="mr-3" src="../../../assets/images/dinner.jpg" class="img-fluid">
                  <div class="media-body ml-3">
                    <h3 class="mt-0">Dinner Seafood Time</h3>
                    <p class="font-weight-bold">5pm - 10pm</p>
                    <!--p class="font-weight-bold">Monday to Thursday 5:30 pm - 10:00 pm</p>
                    <p class="font-weight-bold">Friday to Sunday 5:30 pm - 7:45 pm | 8:00pm - 10:00 pm</p>
                    <p class="text-primary menu-price">$65 Sunday to Friday</p>
                    <p class="text-primary menu-price">$68 Saturday</p>
                    <p class="font-italic">Children under 4 YO Free</p>
                    <p class="font-italic">Children from 4 to 8 $21.50 /per child</p>
                    <p class="font-italic">Children from 9 to 12 $32.5 /per child</p-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container col-md-12 text-center">
        <div class="col-md-12 text-center icon-warning" style="font-weight: bolder;color: #0b0b0b">
          Session time & pricing for special
          festivals and public holidays may vary.
          Do call us to enquire.<br>
          Entertainment book voucher can not be used in
          public holidays and special festival.
        </div>
        <div class="col-md-12 text-center" style="color: red; font-weight: bold;">
          Public Holidays & special Festivals
          Do call us to enquire. </div><br>
        <div class="row" style="color: #0b0b0b">
          <div class="col">New Year's Day</div>
          <div class="col">Australia Day</div>
          <div class="w-100"></div>
          <div class="col">Valentine's Day</div>
          <div class="col">Chinese New Year Eve</div>
          <div class="w-100"></div>
          <div class="col">Chinese New Year</div>
          <div class="col">Labour Day</div>
          <div class="w-100"></div>
          <div class="col">Good Friday</div>
          <div class="col">Easter Saturday</div>
          <div class="w-100"></div>
          <div class="col">Easter Sunday</div>
          <div class="col">Easter Monday</div>
          <div class="w-100"></div>
          <div class="col">ANZAN Day</div>
          <div class="col">Mother's Day</div>
          <div class="w-100"></div>
          <div class="col">Queen's Birthday</div>
          <div class="col">Father's Day</div>
          <div class="w-100"></div>
          <div class="col">Mid Autumn Festival</div>
          <div class="col">Halloween</div>
          <div class="w-100"></div>
          <div class="col">Melbourne Cup Day</div>
          <div class="col">Christmas Eve</div>
          <div class="w-100"></div>
          <div class="col">Christmas Day</div>
          <div class="col">Boxing Day</div>
          <div class="w-100"></div>
          <div class="col">New Year's Day</div>
          <div class="col">Friday before the AFL Grand Final</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END menu section -->

