<!-- offer section -->
<section class="ftco-section bg-light" id="section-offer">
  <div class="container">

    <div class="row">
      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h4 class="ftco-sub-title">Our Offers</h4>
        <h2 class="display-4">Offers &amp; Promos</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">
              The most fresh seafood, various of cuisine from all over the world. You will find your favorites here.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="owl-carousel ftco-owl">

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-1-亚叁墨鱼仔.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">亚叁墨鱼仔</h5>
                <p class="mb-4">Fish safe to eat raw. Tuna: Any sort of tuna, be it bluefin, yellowfin, skipjack, or albacore, can be eaten in raw, come to find...

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-2-冬菇豆子扎菜饭.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">冬菇豆子扎菜饭</h5>
                <p class="mb-4">Steamed Abalone with Shiitake Mushroom and Sesame Dressing is an inspiring meal with an Asian flavour to impress your guests.
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-3-干炒牛河.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">干炒牛河</h5>
                <p class="mb-4">Pipis in Black Bean Sauce. Stir-Frying. featured. The rich flavour of the pipi meat marries beautifully with the black bean sauce ...
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-4-海鲜汤面.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">海鲜汤面</h5>
                <p class="mb-4">Thickening sauce. Chop the crab into pieces. Wash and wipe dry. In a frying pan, heat up some oil in high heat (180 degrees) Deep ...

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>



          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-5-炒蛤蜊2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">炒蛤蜊</h5>
                <p class="mb-4">Its a good alternate to rice. Here we put 1 cup quinoa in with 2 cups of water. Thats the ratio 1:2. Cook it like you cook rice...
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-6-豆汁牛河.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">豆汁牛河</h5>
                <p class="mb-4">There's something universally appealing about fried fare. At restaurants and state fair across the country,...
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-7-三味猪扒饭.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">三味猪扒饭</h5>
                <p class="mb-4">When cooking salmon in the oven or on the grill, one large piece of fish works well. But when pan-searing on ...
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>


          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-8-咸鱼鸡粒炒饭.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">咸鱼鸡粒炒饭</h5>
                <p class="mb-4">Dim sum is a style of Chinese cuisine prepared as small bite-sized portions of food served in small steamer baskets or on small...
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="media d-block mb-4 text-center ftco-media ftco-animate border-0">
              <img src="../../../assets/images/offer-9-大虾汤面.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
              <div class="media-body p-md-5 p-4">
                <!-- <h5 class="text-primary">$39.50</h5> -->
                <h5 class="mt-0 h4">大虾汤面</h5>
                <p class="mb-4">Japanese style egg custard is a variety of culinary preparations based on a cooked mixture of egg yolk, Japanese style tea pot soup
                </p>

                <p class="mb-0">
                  <!-- <a href="#" class="btn btn-primary btn-sm">Order Now!</a> -->
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- END offer section -->

