<!-- about section -->
<section class="ftco-section" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ftco-animate mb-5">
        <h4 class="ftco-sub-title">Our Story</h4>
        <h2 class="ftco-primary-title display-4">Coming Soon</h2>
        <h4 class="display-8">THE LARGEST ASIAN SEAFOOD RESTAURANT IN MELBOURNE</h4>
        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum. </p>

        <p class="mb-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum.</p>
        <p>
          <a href="#section-about" class="btn btn-secondary btn-lg">Our Story</a>
        </p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 ftco-animate img" data-animate-effect="fadeInRight">
        <img src="../../../assets/images/welcome_1_9866.jpg" alt="Free Template by Free-Template.co">
      </div>
    </div>
  </div>
</section>
<!-- END about section -->

