<!-- about section -->
<section class="ftco-section" id="section-about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 ftco-animate mb-5">
        <h4 class="ftco-sub-title">Our Story</h4>
        <h2 class="ftco-primary-title display-4">Ocean SeaFood</h2>
        <h4 class="display-8">THE LARGEST ASIAN SEAFOOD RESTAURANT IN MELBOURNE</h4>
        <p class="text-justify">Our seafood restaurant is a restaurant that specializes in seafood cuisine and seafood
          dishes, such as fish and shellfish. Dishes may include freshwater fish.
          Our seafood restaurants also provide retail sales of
          seafood that consumers take home to prepare. Our restaurants have a marine-themed decor,
          with decorations such as fish nets, nautical images and buoys.
          Also our restaurants offer additional non-seafood items, such as chicken and beef dishes.</p>
        <p>
          <a href="#section-about" class="btn btn-secondary btn-lg">Our Story</a>
        </p>

      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6 ftco-animate img mr-5" data-animate-effect="fadeInRight">
        <img src="../../../assets/images/welcome-2.jpg" alt="Free Template by Free-Template.co">
      </div>
    </div>
  </div>
</section>
<!-- END about section -->

