<!-- gallery section -->
<section class="ftco-section" id="section-gallery">
  <div class="container">
    <div class="row ftco-custom-gutters">

      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h2 class="display-4">Food Gallery</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">In Ocean Seafood Bar,
              We offer you the best of Asian cuisine, prepared by some of the finest chefs from all over Asia,
              including China, Vietnam, Malaysia and Hong Kong.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_8.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_8.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_2.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_2.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_3.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_3.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_9.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_9.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_5.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_5.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a href="../../../assets/images/animation_7.gif" class="ftco-thumbnail image-popup">
          <img src="../../../assets/images/animation_7.gif" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- END gallery section -->

