<!-- gallery section -->
<section class="ftco-section" id="section-gallery">
  <div class="container">
    <div class="row ftco-custom-gutters">

      <div class="col-md-12 text-center mb-5 ftco-animate">
        <h2 class="display-4">Food Gallery</h2>
        <div class="row justify-content-center">
          <div class="col-md-7">
            <p class="lead">In Ocean Seafood Bar,
              We offer you the best of Asian cuisine, prepared by some of the finest chefs from all over Asia,
              including China, Vietnam, Malaysia and Hong Kong.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-1-叁荅炒带子.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
        <!--a href="../../../assets/images/animation_2.gif" class="ftco-thumbnail image-popup"-->
          <img src="../../../assets/images/gallery-2-咖喱大虾.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-3-星洲炒米.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>

      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-4-椒盐鱿鱼须.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-5-海鲜咖喱叻沙2.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-6-海鲜滑蛋河.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-7-炒粿條.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-8-煎锅贴.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
      <div class="col-md-4 ftco-animate">
        <a class="ftco-thumbnail">
          <img src="../../../assets/images/gallery-9-潮式卤墨鱼仔.jpg" alt="Free Template by Free-Template.co" class="img-fluid">
        </a>
      </div>
    </div>
  </div>
</section>
<!-- END gallery section -->

